*{
    margin: 0;
    padding: 0;
}
.nav-container{
    background-color: #444;
    padding: 1rem 0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
}
.nav{
    width: min(90%, 900px);
    margin-inline: auto;
    display: flex;
    justify-content: space-between;
    align-content: center;
}

.nav a{
    color: #fff;
    text-decoration: none;
}

.logo{
    font-size: 1.5rem;
    font-weight: bold;
}

.nav-link a{
    font-size: 1.5rem;
    position: relative;
}

.nav-link .item-count{
    font-size: 14px;
    position: absolute;
    top: -8px;
    right: -14px;
}

/* Homepage */

.home{
    width: min(90%, 900px);
    display: flex;
    flex-wrap: wrap;
    margin: 5rem auto;
    justify-content: center;
}

.home .card{
    width: 250px;
    height: 300px;
    border-radius: 8px;
    background-color: #f8f8f8;
    margin: 1rem;
    position: relative;
    overflow: hidden;
}

.home .card .img{
    height: 200px;
    width: 250px;
    object-fit: cover;
    color: #555;
}

.home .card .desc{
    padding: 10px 2rem;
    text-transform: capitalize;
    display: flex;
    justify-content: space-between;
}

.home .card .btn{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 250px;
    padding: 5px 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    border: none;
    background-color: #333;
    color: #fff;
}

.btn:active{
    transform: scale(0.98);
}

.home .card .icon{
    margin-left: 5px;
    font-size: 1.5rem;
}

/* For cart */

.cart-container{
    margin: 5rem auto;
    width: min(90%,900px);
}

.cart-container .card{
    width: 400px;
    height: 100px;
    background-color: #f8f8f8;
    margin: 1rem 0;
    display: flex;
    justify-content: space-between;
}
.cart-container .card .img{
    height: 100px;
    width: 200px;
    object-fit: cover;
} 

.cart-container .card .desc{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 2rem;
}

.total{
    margin-top: 1rem;
    line-height: 1.5;
}